.about {
  background-color: $color-gray-light;
  // letter-spacing: 0.055em;

  &-content {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 98px 0 64px;
  }
  &-info {
    padding-right:60px;

    &-text {
      line-height: 1.2;
      letter-spacing: 0.02em;
      font-size: 1.2rem;
      font-weight: 400;
      border-right: 1px rgba($color-gray, 0.5);
    }
  }
  
  &-image {
      position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 147px;
        left: -30px;
        width: 1px;
        height: 200px;
        background-color: rgba($color-gray, 0.5);
      }
  }
}
